extends layout

block content
  .container
    .page-header(style='padding-top: 0;')
      h1 Hello, World.
    .row
      .col-md-9
        .settings-box
          form.form-horizontal(action='/settings/updateRssSource', method='post', role='form')
            .form-group
              label.col-sm-2.control-label(for='inputCategory') category
              .col-sm-6
                label
                  input#inputCategory(type='radio', name='rss[category]', value='tech', checked=(updateRss.category == 'tech' ? true : false))
                  | 技术
                label
                  input(type='radio', name='rss[category]', value='article' checked=(updateRss.category == 'article' ? true : false))
                  | 文章
            .form-group
              label.col-sm-2.control-label(for='inputName') Name
              .col-sm-8
                input#inputName.form-control(type='text', name='rss[name]', placeholder='rss name', value='#{updateRss.name}')
            .form-group
              label.col-sm-2.control-label(for='inputTitle') Title
              .col-sm-8
                input#inputTitle.form-control(type='text', name='rss[title]', placeholder='rss title', value='#{updateRss.title}')
            .form-group
              label.col-sm-2.control-label(for='inputWork') Work Status
              .col-sm-6
                label
                  input(type='radio', name='rss[status]', value='on', checked=(updateRss.status == 'on' ? true : false))
                  | 开启
                label
                  input(type='radio', name='rss[status]', value='off' checked=(updateRss.status == 'off' ? true : false))
                  | 关闭
            .form-group
              label.col-sm-2.control-label(for='inputUrl') Url
              .col-sm-8
                input#inputUrl.form-control(type='text', name='rss[url]', placeholder='rss url', value='#{updateRss.url}')
            .form-group
              label.col-sm-2.control-label(for='inputSizzle') Sizzle
              .col-sm-8
                input#inputSizzle.form-control(type='text', name='rss[sizzle]', placeholder='rss sizzle, use commas to separate sizzles.', value='#{updateRss.sizzle}')
            .form-group
              .col-sm-offset-2.col-sm-10
                button.btn.btn-primary(type='submit') Submit

      .col-md-3.bs-docs-sidebar
        ul#nav-box.nav.nav-pills.nav-stacked.affix(role='tablist')
          li(role='presentation', class=(navActive == 'settings' ? 'active' : null))
            a(href='/settings') 资源设置
          li(role='presentation', class=(navActive == 'add' ? 'active' : null))
            a(href='/settings/add') 资源添加
          li(role='presentation', class=(navActive == 'list' ? 'active' : null))
            a(href='/settings/list') 资源列表

